.list {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.listHeader {
  background-color: gray;
}

.listHeaderItem,
.listContent {
  padding: 10px;
  border: 1px solid #ddd;
}

.listContentItem {
  border: 1px solid #ddd;
  padding: 20px;
  min-width: 250px;
}

.link {
  color: white;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}